.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
}

.login-container {
  display: flex;
  flex-direction: column;
  /* gap: 2vh; */
  background-color: #854679;
  /* width: 22.5vw; */
  height: 70vh;
  width: 30vw;
  border-radius: 5vh;
  box-shadow: 0 0.4vh 1.5vh rgba(0, 0, 0, 0.2);
  padding: 2vh 2vw;
  /* position: relative; */
  /* overflow: hidden; */
  align-items: center;
  justify-content: space-evenly;
}

#logo1 {
  width: 40%;
  /* border: solid white 5px; */
  /* position: absolute; */
  /* top: 3vh; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  pointer-events: none;
  /* z-index: 1; */
}

.auth-form {
    /* border: solid green 5px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 70; */
    gap: 1.5vh;
}

.input-fields {
    /* border: solid orange 5px; */
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    font-size: 1.2rem;
}

.input-fields input {
    background-color: #AF4E9C;
    border: none;
    border-radius: 1vh;
    /* color: black; */
    font-size: 1.2rem;
    /* opacity: 0.7; */
}

.input-fields input::placeholder {
    color: darkgray;
    opacity: 0.8;
} 

.auth-btn {
    padding: 1.5vh 5vw;
    background-color: #2997FF;
    border-radius: 1vh;
    opacity: 0.8;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-container-bottom {
    display: flex;
    flex-direction: column;
    /* border: solid orange 5px; */
    gap: .3vh;
    align-items: center;
}

.login-container-bottom a {
    width: max-content;
    text-decoration: none;
    color: darkgray;
    opacity: .8;
    font-size: 1.1rem;

}

.login-container-bottom a:hover {
    color: #2997FF;
    transition: 0.3s;
    cursor: pointer;
}

/*
.login-container-input input {
  border: none;
  outline: none;
  background-color: #AF4E9C;
  color: white;
  border-radius: 1vh;
  padding: 1.5vh 1.2vw;
  box-shadow: 0 0.1vh 0.3vh rgba(0, 0, 0, 0.1);
  width: 100%;
}

.login-container-input input::placeholder {
  color: #C8C8C8;
  opacity: 0.4;
}

.login-submit-button {
  /* margin-top: auto; */
  /* margin-bottom: 4vh;
  background-color: #2997FF;
  color: white;
  cursor: pointer;
  border-radius: 1vh;
  padding: 1.5vh 3vw;
  opacity: 0.8;
  transition: background-color 0.3s ease;
  width: 70%;
  /* margin-left: 3vw;
}

.login-submit-button:hover {
  background-color: #6a3a61;
}

.login-container-bottom {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  margin-bottom: 1.5vh;
}

.bottom-link {
  color: #C8C8C8;
  opacity: 0.4;
  font-size: 1.5vh;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.bottom-link:hover {
  color: #2997FF;
  opacity: 80%;
}
*/