.play-body {
  height: 100vh;
}

.play-page {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  padding: 40px 40px 40px 40px;
  gap: 40px;
  align-items: flex-start;
}

/* container with main video */
.video-container {
  flex: 2;
  border-radius: 10px;
  /* height: 50vh; */
  width: 50vw;
  overflow: hidden;
  position: relative;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 10px;
  z-index: 1;
}

.video-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  border-radius: 10px;
}

/* / container with score, heartrate & webcam / */
.side-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* / webcam / */
.webcam-container {
  position: relative;
  background-color: black;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}

/* / webcam motion-detector skeleton / */
.webcam-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  border-radius: 10px;
}


/* / heartrate / */
.heartrate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  color: #854679;
  font-weight: 700;
  margin-top: 20px;
}

.heart-icon {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

/* / score */ 
.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
}

.score-icon {
  width: 110px;
  height: 110px;
  margin-right: 10px;
  color: #854679;
}

.score-number {
  font-size: 6rem;
  font-weight: 700;
  color: #854679;
}