.play-body {
    height: 92vh;
    width: 100vw;
}

.play-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: red 5px solid; */

    /* border: solid brown 5px; */
    /* align-items: center; */
    /* justify-content: center; */
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-evenly;
    height: 65vh;
    /* margin: 2vh 0; */
    /* margin: 0 0; */
}

.video-container, .webcam-container{
    position: relative;
    height: 65vh;
    border-radius: 10px;
}

.video-player, .video-canvas{
    height: 100%;
    border-radius: 10px;    
}

.stat-container {
    display: flex;
    justify-content: space-around;
}

.score-container, .heartrate-container {
    display: flex;
    align-items: center;
    width: min-content;
    font-size: 5vh;
    height: 5vh;
    margin: 1vh 0;
}

.heart-icon, .score-icon{
    height: 100%;
    margin-right: .2vw;
    color: #854679;
}

.video-canvas, .webcam-canvas{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* display: none; */
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: #854679 5px solid; */
}

.webcam-container {
    height: min-content;
    transform: scaleX(-1);

}

.webcam {
    border-radius: 10px;
}

/* .connect-hr-container , .extra-video-container{
    display: flex;
    justify-content: center;
    flex-grow: 2;
} */

.connect-device-btn, .end-workout-btn {
    padding: 2vh;
    background-color: #854679;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    width: max-content;
}

.connect-device-btn:hover, .end-workout-btn:hover {
    cursor: pointer;
    background-color: #854679;
    opacity: 80%;
}

.video-column {
    display: flex;
        /* border: solid green 5px; */
    height: max-content;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    position: relative;
}

.btn-container {
    width: 100%;
    /* border: solid green 5px; */
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    z-index: 11;
    /* top: -8vh; */
}