.header_container {
    height: 6vh;
    background-color: #854679;
    display: flex;
    justify-content: space-between;
}

.header_img {
    height: 100%;
    /* width: 100%; */
    padding: 1vh;
}

a {
    width: 5vh;
}
